<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Golb</title>
  <link href="./css/style.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">
</head>

<body>

  <div class="main-container">
    <!-- The main navbar -->
    <div class="navbar">
      <ul>
        <li><a href="#about">About</a></li>
        <li style="float:center" id="main-logo"><a href="#">GOLB</a></li>
        <li style="float:right"><a href="#login">Login</a></li>
        <li style="float:right"><a href="#signup">Sign Up</a></li>
      </ul>
    </div>